body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#topbar{
    width: 100%;
    margin: 0;
    height: 50px;
    background: #660033;
    color: #fff;
    line-height: 50px;
}

#wrapper{
    padding-top: 100px;
    width: 100%;
}

#container{
    margin: 0 auto;
    width: 70%;
}
#table{
    display: block;
    background: #f9f9f9;
    width: 100%;
    min-height: 800px;
}
#search-form{
    display:block;
    float: right;
}
#container input[type="text"]{
    padding: 4px;
    margin-bottom: 10px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: solid 1px #F0F0F5;
}
#container button{
    padding: 3px;
    background: #900048;
    text-decoration: none;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: solid 1px #660033;
    color: #fff;
}
.annen-container {
	margin-top: 5px;
	padding: 70px;
}

#info {
    padding: 0px;
    margin-left: 15px;
}

.profile-avatar{
    margin-top: 20px;
}

.bs-glyphicons-list{
    margin-top:20px;
    float:right;
}